HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
build/
bin

### Local properties file ###
**/application-local.yml
**/application-local.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store
dump.rdb

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Maven

/target
### VS Code ###
.vscode/
